body {
  font-family: sans-serif;
  background-color: #cecece;
}

.navbar {
  background-color: #0099FF;
  border-bottom: 10px solid #ffdb4d;
}

a {
  text-decoration: none;
}
.logo img {
  display: block;
  margin: auto;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 5em;
}

form div {
  margin: 1em;
  display: inline-block;
}
